#include <physical_layouts.dtsi>
#include <dt-bindings/zmk/matrix_transform.h>

/ {
    zitaotech_keypoint_layout: zitaotech_keypoint_layout {
        compatible = "zmk,physical-layout";
        display-name = "KEYPOINT Programmer 60";

        kscan = <&kscan0>;
        transform = <&default_transform>;

        /*
         * Logical order exactly matches default_transform:
         * 14 + 14 + 13 + 12 + 8 ANSI-style keys, followed by 7 KEYPOINT extras.
         *
         * Coordinates remain split rather than pretending this is a monoblock ANSI plate.
         */
        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100    0    0       0     0     0>  /* Esc */
            , <&key_physical_attrs 100 100  100    0       0     0     0>  /* 1 */
            , <&key_physical_attrs 100 100  200    0       0     0     0>  /* 2 */
            , <&key_physical_attrs 100 100  300    0       0     0     0>  /* 3 */
            , <&key_physical_attrs 100 100  400    0       0     0     0>  /* 4 */
            , <&key_physical_attrs 100 100  500    0       0     0     0>  /* 5 */
            , <&key_physical_attrs 100 100  900    0       0     0     0>  /* 6 */
            , <&key_physical_attrs 100 100 1000    0       0     0     0>  /* 7 */
            , <&key_physical_attrs 100 100 1100    0       0     0     0>  /* 8 */
            , <&key_physical_attrs 100 100 1200    0       0     0     0>  /* 9 */
            , <&key_physical_attrs 100 100 1300    0       0     0     0>  /* 0 */
            , <&key_physical_attrs 100 100 1400    0       0     0     0>  /* - */
            , <&key_physical_attrs 100 100 1500    0       0     0     0>  /* = */
            , <&key_physical_attrs 150 100 1600    0       0     0     0>  /* Backspace */

            , <&key_physical_attrs 125 100    0  100       0     0     0>  /* Tab */
            , <&key_physical_attrs 100 100  125  100       0     0     0>  /* Q */
            , <&key_physical_attrs 100 100  225  100       0     0     0>  /* W */
            , <&key_physical_attrs 100 100  325  100       0     0     0>  /* E */
            , <&key_physical_attrs 100 100  425  100       0     0     0>  /* R */
            , <&key_physical_attrs 100 100  525  100       0     0     0>  /* T */
            , <&key_physical_attrs 100 100  900  100       0     0     0>  /* Y */
            , <&key_physical_attrs 100 100 1000  100       0     0     0>  /* U */
            , <&key_physical_attrs 100 100 1100  100       0     0     0>  /* I */
            , <&key_physical_attrs 100 100 1200  100       0     0     0>  /* O */
            , <&key_physical_attrs 100 100 1300  100       0     0     0>  /* P */
            , <&key_physical_attrs 100 100 1400  100       0     0     0>  /* [ */
            , <&key_physical_attrs 100 100 1500  100       0     0     0>  /* ] */
            , <&key_physical_attrs 125 100 1600  100       0     0     0>  /* \ */

            , <&key_physical_attrs 150 100    0  200       0     0     0>  /* Caps */
            , <&key_physical_attrs 100 100  150  200       0     0     0>  /* A */
            , <&key_physical_attrs 100 100  250  200       0     0     0>  /* S */
            , <&key_physical_attrs 100 100  350  200       0     0     0>  /* D */
            , <&key_physical_attrs 100 100  450  200       0     0     0>  /* F */
            , <&key_physical_attrs 100 100  550  200       0     0     0>  /* G */
            , <&key_physical_attrs 100 100  900  200       0     0     0>  /* H */
            , <&key_physical_attrs 100 100 1000  200       0     0     0>  /* J */
            , <&key_physical_attrs 100 100 1100  200       0     0     0>  /* K */
            , <&key_physical_attrs 100 100 1200  200       0     0     0>  /* L */
            , <&key_physical_attrs 100 100 1300  200       0     0     0>  /* ; */
            , <&key_physical_attrs 100 100 1400  200       0     0     0>  /* ' */
            , <&key_physical_attrs 175 100 1500  200       0     0     0>  /* Enter */

            , <&key_physical_attrs 200 100    0  300       0     0     0>  /* LShift */
            , <&key_physical_attrs 100 100  200  300       0     0     0>  /* Z */
            , <&key_physical_attrs 100 100  300  300       0     0     0>  /* X */
            , <&key_physical_attrs 100 100  400  300       0     0     0>  /* C */
            , <&key_physical_attrs 100 100  500  300       0     0     0>  /* V */
            , <&key_physical_attrs 100 100  600  300       0     0     0>  /* B */
            , <&key_physical_attrs 100 100  900  300       0     0     0>  /* N */
            , <&key_physical_attrs 100 100 1000  300       0     0     0>  /* M */
            , <&key_physical_attrs 100 100 1100  300       0     0     0>  /* , */
            , <&key_physical_attrs 100 100 1200  300       0     0     0>  /* . */
            , <&key_physical_attrs 100 100 1300  300       0     0     0>  /* / */
            , <&key_physical_attrs 225 100 1400  300       0     0     0>  /* RShift */

            , <&key_physical_attrs 125 100  100  400       0     0     0>  /* LCtrl */
            , <&key_physical_attrs 125 100  225  400       0     0     0>  /* LGUI */
            , <&key_physical_attrs 125 100  350  400       0     0     0>  /* LAlt */
            , <&key_physical_attrs 250 100  475  400       0     0     0>  /* Space */
            , <&key_physical_attrs 125 100  900  400       0     0     0>  /* RAlt */
            , <&key_physical_attrs 125 100 1025  400       0     0     0>  /* Fn */
            , <&key_physical_attrs 125 100 1150  400       0     0     0>  /* RGUI */
            , <&key_physical_attrs 125 100 1275  400       0     0     0>  /* RCtrl */

            , <&key_physical_attrs 100 100 -125    0       0     0     0>  /* dedicated `/~ */
            , <&key_physical_attrs 200 100 1400  400       0     0     0>  /* second Space */
            , <&key_physical_attrs  75  75  700  210       0     0     0>  /* LClick */
            , <&key_physical_attrs  75  75  800  210       0     0     0>  /* RClick */
            , <&key_physical_attrs  75  50  700  315       0     0     0>  /* scroll modifier */
            , <&key_physical_attrs  75  50  775  315       0     0     0>  /* arrow modifier */
            , <&key_physical_attrs  75  50  850  315       0     0     0>  /* slow pointer */
            ;
    };
};
